<form (ngSubmit)="onSubmit()">
  <div class="row">
      <div class="mb-3">
        <label for="ra" class="form-label">RA</label>
        <input type="number" name="ra" class="form-control" id="ra" [(ngModel)]="ra" />
      </div>
    </div>
    <div class="row">
      <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" name="nome" class="form-control" id="nome" placeholder="Nome" [(ngModel)]="nome" />
      </div>
    </div>
    <div class="row">
      <div class="mb-3">
        <label for="mail" class="form-label">E-mail</label>
        <input type="email" name="mail" class="form-control" id="mail" placeholder="example@mail.com" [(ngModel)]="mail" />
      </div>
    </div>
    <div class="row">
      <div class="mb-3">
        <label for="celular" class="form-label">Celular <i>(13 números)</i></label>
        <input type="number" name="celular" class="form-control" id="celular" placeholder="5500111111111" [(ngModel)]="celular" />
      </div>
    </div>
    
    <div class="nav row justify-content-center">
      <button type="submit" class="btn btn-primary col-4">
        Cadastrar
      </button>
    </div>
   </form>

  <div class="row mt-3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">RA</th>
          <th scope="col">Nome</th>
          <th scope="col">E-mail</th>
          <th scope="col">Celular</th>
        </tr>
      </thead>
      <tbody id="tbody">
        <tr *ngFor="let aluno of alunos">
          <td>{{ aluno.ra }}</td>
          <td>{{ aluno.nome }}</td>
          <td>{{ aluno.email }}</td>
          <td>{{ aluno.celular }}</td>
        </tr>
      </tbody>
    </table>
  </div>